@charset "utf-8";
@import "./ress.min.css";
@import "./planet.css";

.text {
  color: #00f;
}

#info {
  border: solid .5vw #00d;
}

.pnBtn {
  background: #05d;
}

.pnBtn:hover {
  box-shadow: 0 0 2.5vw #05d;
}

#earthimg1 img {
  margin-left: 1vw;
  width: 17vw;
  float: right;
}

#earthimg2 img {
  margin-right: 1vw;
  width: 15vw;
  float: left;
}

#earthimg3 img {
  margin-left: 1vw;
  width: 21vw;
  float: right;
}

#earthimg4 {
  margin-top: 1vh;
}

#earthimg4 img {
  margin-top: .5vh;
  margin-right: 1vw;
  width: 8vw;
  float: left;
}

.loadingani1,
.loadingani2,
.loadingani3 {
  transform-origin: top left;
}

.loadingbg {
  top: 0;
  left: 0;
  transform: rotate(-90deg);
}

@keyframes loadingbg {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(90deg);
  }
}
