@charset "utf-8";
@import "./ress.min.css";
@import "./planet.css";

.text {
  color: #0ff;
}

#info {
  border: solid .5vw #0aa;
}

.pnBtn {
  background: #0aa;
}

.pnBtn:hover {
  box-shadow: 0 0 2.5vw #0aa;
}

#mercuryimg1 img {
  margin-left: 1vw;
  width: 17vw;
  float: right;
}

#mercuryimg2 img {
  margin-right: 1vw;
  margin-top: .8vh;
  width: 14vw;
  float: left;
}

#mercuryimg3 img {
  margin-right: 1vw;
  width: 18vw;
  float: left;
}

.loadingani1,
.loadingani2,
.loadingani3 {
  transform-origin: top right;
}


.loadingbg {
  top: 0;
  right: 0;
  transform: rotate(-90deg);
}

@keyframes loadingbg {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(90deg);
  }
}
