@charset "utf-8";
@import "./ress.min.css";
@import "./planet.css";

.text {
  color: #fff;
}

#info {
  border: solid .5vw #bbb;
}

.pnBtn {
  background: #bbb;
}

.pnBtn:hover {
  box-shadow: 0 0 2.5vw #bbb;
}

#moonimg1 img {
  margin-left: 1vw;
  width: 17vw;
  float: right;
}

#moonimg2 img {
  margin-top: .5vh;
  margin-right: 1vw;
  width: 25vw;
  float: left;
}

.loadingWrap {
  height: 92vw;
}

.text {
  margin-top: -5vw;
}

.loadingani1,
.loadingani2,
.loadingani3 {
  transform-origin: bottom left;
}

.loadingbg {
  bottom: 0;
  left: 0;
  transform: rotate(-90deg);
}

@keyframes loadingbg {
  from {
    transform: rotate(-90deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@keyframes text1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes text3 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
