@charset "utf-8";
@import "./ress.min.css";
@import "./planet.css";

.text {
  color: #a52a2a;
}

#info {
  border: solid .5vw #830808;
}

.pnBtn {
  background: #830808;
}

.pnBtn:hover {
  box-shadow: 0 0 2.5vw #830808;
}

#saturnimg1 img {
  margin-left: 1vw;
  width: 17vw;
  float: right;
}

#saturnimg2 img {
  margin-left: 1vw;
  width: 18vw;
  float: right;
}

.loadingani1,
.loadingani2,
.loadingani3 {
  transform-origin: top right;
}

.loadingbg {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

@keyframes loadingbg {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(-90deg);
  }
}
