@charset "UTF-8";
@import '//fonts.googleapis.com/css?family=Lobster|Orbitron';
@import "./ress.min.css";
@import "./bg.css";

html,
body {
  overflow: hidden;
}

.none {
  display: none;
}

body {
  background: #000;
  letter-spacing: .2em;
  cursor: default;
}

.loading {
  position: absolute;
  z-index: 90;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

.loadingimg img {
  margin: auto;
  position: absolute;
  z-index: 91;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40%;
  transform-origin: center 52.6%;
  animation: loading 1600ms linear 0s infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#cnt p,
.userinfo p {
  margin-top: 42vh;
  padding: 30px 0;
  font-size: 10vh;
  font-weight: bold;
  line-height: 1.2em;
  color: #0ff;
  text-align: center;
}

.fontType {
  font-family: 'Orbitron', sans-serif;
}

button {
  cursor: pointer;
}

.loadingOut {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: loadingOut 300ms linear 700ms 1 forwards;
}

@keyframes loadingOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.infoWrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 26;
  background: #fff;
  opacity: .8;
}

#userWrap {
  position: absolute;
  top: 3%;
  right: 2%;
  z-index: 20;
}

.userinfo {
  width: 0;
  height: 100%;
}

.userIn {
  animation: userIn 500ms linear 0s 1 forwards;
}

@keyframes userIn {
  0% {
    width: 0%;
  }

  50% {
    width: 7%;
  }

  100% {
    width: 15%;
  }
}

.userOut {
  animation: userOut 350ms linear 0s 1 forwards;
}

@keyframes userOut {
  0% {
    width: 15%;
  }

  50% {
    width: 7%;
  }

  100% {
    width: 0%;
  }
}

#stopWrap {
  position: absolute;
  top: 11%;
  right: 2%;
  z-index: 20;
}

#speechWrap {
  position: absolute;
  top: 19%;
  right: 2%;
  z-index: 20;
}


#userBack,
#opeBack {
  position: absolute;
}

#userBack {
  top: 1%;
  left: 5%;
}

#logout {
  position: relative;
  margin: 0 auto;
  width: 80%;
  bottom: -30vh;
}

#logout input {
  padding: .5vw .8vw;
  width: 100%;
  border: solid .1vw #000;
  border-radius: .5vw;
  font-size: 1.2vw;
  color: #000;
  font-weight: bold;
  transition: all 700ms;
}

#logout input:hover {
  background: #000;
  color: #fff;
}


#user {
  margin: 13vh auto 0;
  width: 13vw;
  height: 13vw;
  border: solid .6vh #f00;
  border-radius: 70%;
}

#user p {
  margin-top: 21%;
  font-size: 2vw;
  font-weight: normal;
  color: #000;
}

#user span {
  font-size: 1.3vw;
}

#stage {
  position: relative;
  z-index: 1;
}

.lognone {
  transform: scale(0);
  animation: logNone 350ms linear 0s 1 forwards;
}

@keyframes logNone {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(.5);
  }

  100% {
    transform: scale(0);
  }
}

.logblock {
  animation: logBlock 500ms linear 0s 1 forwards;
}

@keyframes logBlock {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(.5);
  }

  100% {
    transform: scale(1);
  }
}

#logintime {
  margin: 0 auto;
  width: 13vw;
  height: 13vw;
}

#logintime p {
  margin-top: 1vh;
  font-size: 1.5vw;
  color: #000;
  font-weight: normal;
  line-height: 1.5em;
}

#logintime span {
  font-size: 2vw;
}

.inbg {
  position: absolute;
  top: 0;
  width: 25vw;
  height: 100%;
  z-index: 100;
  background: #000;
  opacity: 0;
}

.inbgani1 {
  right: 0;
}

.inbgani2 {
  right: 25vw;
}

.inbgani3 {
  right: 50vw;
}

.inbgani4 {
  right: 75vw;
}

.inbgani1,
.inbgani2,
.inbgani3,
.inbgani4 {
  animation: inbg 0.05s linear 0s 3 alternate forwards;
}

@keyframes inbg {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* bg上書き */
.stars {
  z-index: 25;
}

.twinkling {
  z-index: 26;
}

.clouds {
  z-index: 27;
}

.operationWrap {
  position: absolute;
  z-index: 28;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  transform: scale(0);
}

.operationin {
  animation: inope 500ms cubic-bezier(0.85, 0.01, 0.17, 1) 0s forwards;
}

@keyframes inope {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.operationout {
  animation: outope 500ms cubic-bezier(0.85, 0.01, 0.17, 1) 0s forwards;
}

@keyframes outope {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0);
  }
}

.opetitle {
  position: relative;
  z-index: 30;
}

.opetitle h1 {
  margin-top: 8vh;
  color: #fff;
  text-align: center;
  font-size: 5.5vw;
  font-weight: normal;
  letter-spacing: .2em;
}

.operationposi {
  position: relative;
  z-index: 30;
  margin-top: 3%;
}

.page1 {
  display: flex;
  justify-content: center;
}

.operation {
  padding: 1vw;
  width: 27vw;
}

.text {
  margin-top: .7vw;
  padding: 1vw;
  padding-top: 2vh;
  width: 25vw;
  height: 8vh;
  border: solid .3vh #0ff;
  border-radius: 1.5vw;
}

.text p {
  color: #fff;
  text-align: center;
  font-size: 1.5vw;
  letter-spacing: .2em;
}

.operation img {
  width: 25vw;
  border: solid .3vh #0ff;
  border-radius: 7vw;
}

.arrow {
  margin: 7vh 1vw 0;
  font-size: 12vw;
  color: #0ff;
  font-weight: 900;
}

.btn {
  position: absolute;
  z-index: 30;
  top: 23vh;
  color: #fff;
  font-size: 20vw;
  outline: none;
  cursor: pointer;
}

.prev {
  left: 8vw;
}

.next {
  right: 8vw;
}

.btnnone,
.pagenone {
  display: none;
}

.list {
  margin: 0 auto;
  width: 50%;
}

.list img {
  margin-right: 2vw;
  padding: .3vw;
  width: 12%;
  float: left;
  border: solid .1vw #0ff;
}

.clear {
  clear: both;
}

.list ul {
  margin-top: 15vh;
  list-style-type: none;
}

.list li {
  margin: 5vw 0;
  padding: 1vh;
  color: #fff;
  font-size: 2vw;
  letter-spacing: .2em;
}

#opeBack {
  z-index: 31;
  top: 3vw;
  right: 3vw;
}

#opeBack img {
  width: 7vw;
  height: 7vw;
}

.operationBtn {
  position: absolute;
  top: 27%;
  right: 2%;
  z-index: 20;
}

.micWrap {
  position: absolute;
  z-index: 26;
  bottom: 0;
  width: 100%;
  height: 0;
  background: #fff;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  opacity: .7;
}

.micWrap p {
  margin-top: 2vh;
  text-align: center;
  font-size: 2vw;
}

.micWrap p span {
  font-weight: bold;
}

.micImg {
  margin: 2vh auto 0;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  line-height: 92px;
  font-size: 60px;
  border: 3px solid #000;
  border-radius: 50%;
  color: #000;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.mic {
  margin-left: 3px;
}

.volume-viewer-volume {
  width: 92px;
  height: 92px;
  position: absolute;
  border-radius: 50%;
  border: 4px solid #000;
  top: -10px;
  left: -10px;
  z-index: -1;
}

.micIn {
  animation: micIn 300ms ease-in 0s forwards;
}

@keyframes micIn {
  from {
    height: 0;
  }

  to {
    height: 20%;
  }
}

.micOut {
  animation: micOut 400ms ease-in 0s forwards;
}

@keyframes micOut {
  from {
    height: 20%;
  }

  to {
    height: 0;
  }
}

.masc {
  position: absolute;
  top: 0;
  z-index: 25;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: .5;
}
