@charset "utf-8";
@import "./ress.min.css";
@import "./planet.css";

.text {
  color: #f00;
}

#info {
  border: solid .5vw #b00;
}

.pnBtn {
  background: #b00;
}

.pnBtn:hover {
  box-shadow: 0 0 2.5vw #b00;
}

#sunimg1 img {
  margin-left: 1vw;
  width: 24vw;
  float: right;
}

#sunimg2 {
  margin-top: 1vh;
}

#sunimg2 img {
  margin-right: 1vw;
  width: 15vw;
  float: left;
}

#sunimg3 img {
  margin-left: 1vw;
  margin-bottom: 1vh;
  width: 15vw;
  float: right;
}

.loadingani1,
.loadingani2,
.loadingani3 {
  transform-origin: top left;
}

.loadingbg {
  top: 0;
  left: 0;
  transform: rotate(90deg);
}

@keyframes loadingbg {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(-90deg);
  }
}
