@charset "utf-8";
@import "./ress.min.css";
@import "./planet.css";

.text {
  color: #00afaf;
}

#info {
  border: solid .5vw #007b7b;
}

.pnBtn {
  background: #007b7b;
}

.pnBtn:hover {
  box-shadow: 0 0 2.5vw #007b7b;
}

#uranusimg1 img {
  margin-left: 1vw;
  width: 22vw;
  float: right;
}

#uranusimg2 img {
  margin-top: .5vh;
  margin-left: 1vw;
  width: 19vw;
  float: right;
}

.loadingWrap {
  height: 92vw;
}

.text {
  margin-top: -5vw;
}

.loadingani1,
.loadingani2,
.loadingani3 {
  transform-origin: top right;
}

.loadingbg {
  top: 0;
  right: 0;
  transform: rotate(90deg);
}

@keyframes loadingbg {
  from {
    transform: rotate(90deg);
  }

  to {
    transform: rotate(-90deg);
  }
}
