<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>土星/SATURN</title>
  <link rel="stylesheet" href="../css/saturn.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
  <!-- ページ遷移 -->
  <div id="planetloadWrap">
    <div class="loadingWrap">
      <div class="loadingtext" v-for="planet in saturn" v-html="planet.text"></div>
    </div>
  </div>
  <div id="loadingBGWrap">
    <div v-for="loadingbg in bgs" v-html="loadingbg.bg"></div>
  </div>

  <!-- VR -->
  <div id="vr">
    <button v-bind:class="vr" v-on:mouseover="mouseover" v-on:mouseleave="mouseleave" v-on:click="vrIn" v-html="vr_i"></button>
  </div>

  <!-- QRcode -->
  <div id="qr" :class="qrdisplay">
    <div id="msc" :class="qrAni" @click="qrClick">
      <div id="code" :class="qrImg">
        <img v-bind:src="'../images/qr/' + planet + '.png'" :alt="planetQR">
      </div>
    </div>
  </div>

  <!-- BACK -->
  <div id="backBtn" v-html="back"></div>

  <!-- 描画 -->
  <canvas id="stage"></canvas>
  <!-- 説明 -->
  <div id="info">
    <header id="maintitle" v-html="maintitle"></header>
    <main class="main" id="planet">
      <!-- 1ページ目 -->
      <div class="infotext1" v-if="text">
        <div v-html="page1"></div>
      </div>

      <!-- 2ページ目 -->
      <div class="infotext2" v-else>
        <div v-html="page2"></div>
      </div>

      <!-- prev,nextボタン -->
      <div id="arrow">
        <button class="pnBtn prev" @click="prevBtn" v-if="btn" v-html="pBtn"></button>
        <button class="pnBtn next" @click="nextBtn" v-else v-html="nBtn"></button>
      </div>
    </main>
  </div>
  <script src="../js/three.min.js"></script>
  <script src="../js/orbitcontrols.js"></script>
  <script src="../js/vue.min.js"></script>
  <script src="../js/planet.js"></script>
  <script src="../js/saturn.js"></script>
</body>
</html>
